html {
    background-color: #343434;
    color: #d1d1d1;
    font-family: Consolas, monospace;
}

/*DEBUG*/
/*div {
    border:1px solid #fff !important;
}*/

body, html {
    padding: 0;
    margin: 0;
    /*background-color: #000000;*/
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
#canvasGame {
    z-index: -50;
}
#canvasTerrain {
    z-index: -100;
}
#canvasParticles {
    z-index: -10;
    mix-blend-mode: lighten;
}
#canvasLights {
    z-index: -20;
    mix-blend-mode: multiply;
}
* {
    overflow: hidden;
    user-select: none;
}

#ui {
    position: fixed;
    top: 0;
    left: 0;
}

#header {
    display: flex;
}

#header div {
    padding: 2px;
    margin: 0 10px 0 10px;
}

#debug {
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.characterUi {
    position: fixed;
    color: white;
    font-size: 9px;
    pointer-events: none;
    user-select: none;
    transform: translate(-50%, -100%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    white-space: nowrap;
}