:root {
    --color1: #3d3b30; /*win background*/
    --headerHover: #38372c;
    --color2: #251b12; /*border*/
    --color3: #342b1b; /*value*/
    --color3-2: #3d3320; /*value*/
    --color4: #56482d; /*hover*/
    --color5: #493e27; /*name*/

}



#window0, #window1, #window2, #window3, #window4 {
    position: fixed;
    background-color: var(--color1);
    color: #FFF;
    border-radius: 3px;
}

#windowbody0, #windowbody1, #windowbody2, #windowbody3, #windowbody4 {
    overflow: auto;
    max-height: 80vh;
}

#window0 {
    top: 4.62vh;
    left: 2.6vw;
    z-index: 100;
}

#window1 {
    top: 10vh;
    left: 5vw;
    z-index: 101;
}

#window2 {
    top: 14vh;
    left: 8vw;
    z-index: 102;
}
#window3 {
    top: 5vh;
    left: 10vw;
    z-index: 103;
}
#window4 {
    top: 1vh;
    left: 2vw;
    z-index: 104;
}
.windowHeader {
    font-size: 1.3vw;
    padding: 0.2vw;
    border-bottom: 1px solid var(--color2);
    display: flex;
    justify-content: space-between;
}
.windowHeader:hover {
    background-color: var(--headerHover);
}


.windowBody {
    font-size: 0.72vw;
    padding: 0.5vw;
}

.windowSettings_button {
    background-color: rgba(255, 255, 255, 0);
    font-size: 0.72vw;
    padding: 2px 5px 2px 5px;
    margin: 0 3px 0 3px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 2px;
    color: #FFF;
}

.windowSettings_button_true {
    border: 1px solid rgba(255,255,255,1);
    background-color: rgba(255, 255, 255, 0.2);
}

.windowSettings_button:hover {
    background-color: #444144;
}

.windowSettings_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}

.windowSettings_category {
    padding-top: 1vw;
    padding-bottom: 0.2vw;
    font-size: 1vw;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.4vh 0.8vw 0.4vh 0.8vw;
    text-align: center;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: var(--color3);
}

tr:nth-child(odd) {
    background-color: var(--color3-2);
}

.heroListFirstRow:first-child {
    background-color: var(--color5);
}


.heroinfoInv1 {
    background-color: var(--color5);
}

.heroinfoInv2 {
    background-color: var(--color3);
}

.heroinfoTable {
    overflow:hidden;

}
.heroinfo div {
    border: 1px solid var(--color2);
    margin: 0.5vh 0.25vw 0.5vh 0.25vw;
}

.heroinfoText {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 !important;
    width: 100px;
}
.heroListRow:hover {
    background-color: var(--color4);
}